body
{
  text-align: center;
}

#animation
{
  background-color: rgb(197, 197, 197);
  margin: 100px;
  padding-bottom: 20px;
  padding-top: 5px;
}

#text
{
  background-color: white;
  margin: 20px;
  padding: 10px;
}

@keyframes myAnimation
  {
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
      display: none;
      opacity: 0;
      transform: rotateX(90deg);
    }
  }

#text:active
{
  animation-name: myAnimation;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}